@charset "UTF-8";

/* 초기화 */

* {margin: 0; padding: 0;}
        a {text-decoration: none !important;}
        img {border: 0;}
        ul {list-style: none;}

        header, footer, section {
            box-sizing: border-box;
        }

    /* 0~766 모바일 사이즈 */
    
    .header {
        background: #fef100;
        margin: 0 auto;
    }

    .header__main {
        max-width: 1200px;
        height: 191px;
        margin: 0 auto;
    }

    .main_logo {
        height: 114px;
        margin: 0 auto;
    }

    .logo {
        display: block;
        padding: 16px 0 0;
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
        border: 0;
    }

    .nav {
        height: 77px;
        display: flex;
        flex-direction: row;
        background: yellowgreen;
        align-items:center;
    }

    .nav > ul {
        flex: 5;
        text-align: center;
    }

    .wrap {
        max-width: 1903px;
        margin: 0 auto;
        height: 100%;
        
    }

    .main_wrap {
        height: 530px;
        background: skyblue;
    }

    .section1 {
        height: 308px;
    }

    .section__slider {
        display: flex;
        margin: 0 auto;
        width: 1200px;
        margin-bottom: 10px;
    }

    .content {
        margin-top: 10px;
    }

    .section2 {
        margin-top: 40px;
        width: 100%;
        height: 245px;
        background: palegreen;
    }

    .section3 {
        height: 347px;
        background:lemonchiffon ;
    }

    .section4 {
        height: 600px;
        background-image: url(./image/visual_06.jpg);
    }

    .section5 {
        height: 587px;
        background: rgb(121, 230, 107);
    }

    .section6 {
        height: 573px;
        background: sandybrown;
    }

    .footer {
        height: 176px;
        background: bisque;
    }



     /* 767 이상 */
    @media all and (min-width:767px){
    }


     /* 767 이상 */
    @media all and (min-width:1025px){
    }