/* header */

.join_membership {
    padding-bottom: 20px;
}

header {
    position: relative;
    overflow: hidden;
    padding: 60px;
    box-sizing: border-box;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.naver_link {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 44px;
    background-image: url(./naver_logo_image.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 240px auto;
    color: transparent;
    font-size: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.naver {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
} 

/* //header */

div.join_button{
    margin: 15px 0 8px;
}
    